@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&display=swap');

* {
    -fx-font-family: 'Archivo', sans-serif;
    -fx-font-weight: normal;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-smoothing-type: gray;
    -fx-padding: 0;
}

.main-background {
    -fx-background-color: #f4f4f0;
    -fx-border-width: 0.1em;
    -fx-border-color: #000000;
}

.pink-background {
    -fx-background-color: #ff90e8;
}

.top-container {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0.1em 0;
    -fx-border-color: #000000;
}

.tool-bar {
    -fx-spacing: 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}


.tool-bar .button {
    -fx-background-color: #f4f4f0;
    -fx-background-radius: 0;
    -fx-border-width: 0 0.1em 0 0;
    -fx-border-color: #000000;
    -fx-padding: 0.4em 1.4em;
}

.tool-bar .button:hover {
    -fx-background-color: #cececd;
}

.text-field {
    -fx-border-color: #000000;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.25em;
    -fx-background-color: #ffffff;
    -fx-background-radius: 0.25em;
    -fx-padding: 0.75em 1em;
    -fx-font-size: 1.1em;
    -fx-text-fill: #000000;
}

.text-area {
    -fx-text-fill: #000000;

}

.general-title {
    -fx-font-size: 2.6em;
    -fx-text-fill: #000000;
}

.common-label {
    -fx-font-size: 1.4em;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 0.1em;
    -fx-text-fill: #000000;
    -fx-padding: 0.6em 2em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 0, 2, 2, 4);
    -fx-background-radius: 0.25em;
    -fx-border-radius: 0.25em;
}

.medium-label {
    -fx-font-size: 1.4em;
    -fx-background-color: #f4f4f0;
    -fx-text-fill: #000000;
    -fx-padding: 0.4em 0;
}

.small-label {
    -fx-font-size: 1.5em;
    -fx-text-fill: #000000;
}


.regular-button {
    -fx-background-color: #ff90e8;
    -fx-border-color: #000000;
    -fx-background-radius: 2em;
    -fx-border-width: 0.1em;
    -fx-border-radius: 2em;
    -fx-text-fill: #000000;
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-font-size: 1.2em;
    -fx-padding: 0.4em 1em;
}

.regular-button:hover {
    -fx-border-color: #000;
    -fx-background-color: #ea97d5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 0, 2, 2, 4);
    -fx-translate-x: -0.2em;
    -fx-translate-y: -0.2em;
}

.green-button {
    -fx-background-color: #23a094;
    -fx-border-color: #000000;
    -fx-border-width: 0.1em;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
    -fx-text-fill: #ffffff;
    -fx-translate-x: 0;
    -fx-translate-y: 0;
}

.green-button .text {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}

.green-button:hover {
    -fx-background-color: #1e7e6f;
    -fx-border-color: #000;
    -fx-border-width: 0.1em;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 0, 2, 2, 4);
    -fx-translate-x: -0.2em;
    -fx-translate-y: -0.2em;
}


.top-chat-bar {
    -fx-border-width: 0 0 0.1em 0;
    -fx-border-color: #000000;
}

.west-container {
    -fx-border-color: #000000;
    -fx-border-width: 0 0.1em 0 0;
    -fx-background-color: #23a094;
}

.south-container {
    -fx-border-color: #000000;
    -fx-border-width: 0.1em 0 0 0;
    -fx-background-color: #ffc900;
    -fx-padding: 0.4em 0;
}

.list-header {
    -fx-text-fill: #000;
    -fx-border-width: 0 0 0.1em 0;
    -fx-border-color: #000000;
    -fx-padding: 0.5em 0 0.5em 1em;
}

.list-header .text {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;

}

.list-view {
    -fx-background-color: transparent;
    -fx-background-radius: 0.25em;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 0 0;
    -fx-font-size: 1.2em;
    -fx-padding: 0;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 4;
    -fx-border-insets: 4;
    -fx-background-radius: 2em;
    -fx-border-color: transparent;
    -fx-border-radius: 2em;
    -fx-border-width: 0.1em;
    -fx-padding: 0.5em 0.8em;
    -fx-text-fill: #000;
    -fx-alignment: center;
}

.list-view .list-cell:hover {
    -fx-background-color: #e8e8e8;
    -fx-cursor: hand;
}

.list-view .list-cell:selected {
    -fx-text-fill: #000;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0;
    -fx-border-radius: 0.25em;
    -fx-background-radius: 0.25em;
    -fx-padding: 0.4em 0.4em 0 0;
}

.increment-arrow, .decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0.2em;
    -fx-border-radius: 0.25em;
    -fx-background-radius: 0.25em;
}

.viewport {
    -fx-background-radius: 0.25em;
}

.titled-pane {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}

.titled-pane-container {
    -fx-border-color: #000000;
    -fx-border-width: 0.2em;
    -fx-background-color: transparent;
    -fx-background-radius: 0.25em;
    -fx-border-radius: 0.25em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 0, 2, 2, 4);
}

.titled-pane > .content {
    -fx-background-color: #f4f4f0;
    -fx-border-width: 0;
}

.titled-pane .title {

    -fx-background-color: #23a094;
    -fx-font-size: 1.3em;
    -fx-padding: 0.25em 0 0.25em 1em;
    -fx-border-insets: 0;
    -fx-background-radius: 0.25em;
    -fx-border-width: 0.1em 0 0.1em 0;
    -fx-border-color: #000000;
}

.titled-pane .title .text {
    -fx-font-weight: bold;
}

.blue-box {
    -fx-background-color: #90a8ed;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 0.15em 0.15em;
}

.orange-box {
    -fx-background-color: #ffc900;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 0 0.15em;
}


.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0.25em;
    -fx-border-width: 0;
}


.circle-label {
    -fx-background-color: #ea97d5;
    -fx-border-color: #000000;
    -fx-border-width: 0.1em;
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-min-width: 1.8em;
    -fx-min-height: 1.8em;
    -fx-max-width: 1.8em;
    -fx-max-height: 1.8em;
    -fx-alignment: center;

}

.circle-label .text {
    -fx-text-fill: #000000;
}

.big-circle-label {
    -fx-background-color: #23a094;
    -fx-min-width: 4.6em;
    -fx-min-height: 4.6em;
    -fx-max-width: 4.6em;
    -fx-max-height: 4.6em;
}

.user-list-item {
    -fx-padding: 0 0.5em 0 0.5em;
    -fx-text-fill: #000000;
}

.user-list-label {
    -fx-padding: 0 0.5em 0.12em 0.5em;
    -fx-font-family: 'Archivo';
    -fx-font-size: 1.3em;
    -fx-background-color: transparent;
}

.left-chat-bubble {
    -fx-background-color: #f4f4f0;
    -fx-background-radius: 0.5em 0.5em 0.5em 0;
    -fx-border-color: #000000;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.5em 0.5em 0.5em 0;
    -fx-padding: 0.5em 0.8em;
    -fx-text-fill: #000000;
    -fx-spacing: 0.25em;

}

.right-chat-bubble {
    -fx-background-color: #f4f4f0;
    -fx-background-radius: 0.5em 0.5em 0 0.5em;
    -fx-border-color: #000000;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.5em 0.5em 0 0.5em;
    -fx-padding: 0.5em 0.8em;
    -fx-text-fill: #000000;
    -fx-spacing: 0.25em;
}

.bubble-message-label {
    -fx-wrap-text: true;
    -fx-font-weight: bold;
}

.bubble-time-label {
    -fx-font-size: 0.8em;
}

.bubble-name-label {
    -fx-font-size: 0.9em;
    -fx-padding: 0 0.5em 0 0.5em;
}

.chat-list-view {
    -fx-background-color: #90a8ed;
    -fx-background-radius: 0;
}

.chat-list-view .list-cell:hover {
    -fx-background-color: transparent;
    -fx-cursor: pointer;
}

.chat-list-view .list-cell .label {
    -fx-text-fill: #000000;
}

.chat-list-view .list-cell:selected .label {
    -fx-text-fill: #000000;
}
















